.login-block {
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    float: left;
    width: 100%;
    padding: 120px 0;
}

.container {
    background: #fff;
    border-radius: 9px;
    box-shadow: 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;

}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 5px 20px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #DE6262;
}

.login-sec .copy-text a {
    color: #DE6262;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #DE6262;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #DE6262 !important;
    border: 10px solid #DE6262 !important;
    color: #fff;
    font-weight: 800;
}

.center-form-field {
    text-align: center;
}

.center-form-field mat-form-field {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}